@{
	ViewBag.Title = "⚠ Account Ban";
}
<style>
	body {
		background-color: crimson;
	}
</style>
<h2 class="text-light" style="margin-top:130px;"><i class="bi bi-exclamation-triangle-fill"></i> &nbsp; Your Account is Baned by the admin</h2>
