@{
	ViewBag.Title = "Access Denied";
}
<style>
	body{
		background-color:orange;
	}
</style>
<h2 class="text-light" style="margin-top:130px;"><i class="bi bi-exclamation-triangle-fill"></i> &nbsp; Access Denied</h2>
